In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('trainRandom.csv')

In [4]:
data=data.drop('Unnamed: 0',1)
data=data.sort_values("date_time")

In [5]:
data.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
62211,2013-01-07 01:35:53,24,2,3,50,5703,NaN,487272,0,1,...,0,1,8220,1,1,1,3,182,46,15
97575,2013-01-07 01:40:20,2,3,48,424,5957,NaN,131091,0,0,...,0,1,12206,6,0,2,2,50,628,1
1513,2013-01-07 02:47:27,2,3,66,226,25300,720.6525,679306,0,0,...,0,1,13396,4,0,1,2,50,675,41
71814,2013-01-07 03:31:11,2,3,154,196,38140,NaN,673567,0,0,...,0,1,375,1,0,2,4,119,2063,58
75459,2013-01-07 03:59:19,11,3,205,155,19334,5286.6712,1086360,0,0,...,0,1,12643,5,0,2,6,77,20,81

In [6]:
data=data.reset_index()
data=data.drop("index",1)

In [7]:
data

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2013-01-07 01:35:53,24,2,3,50,5703,NaN,487272,0,1,...,0,1,8220,1,1,1,3,182,46,15
1,2013-01-07 01:40:20,2,3,48,424,5957,NaN,131091,0,0,...,0,1,12206,6,0,2,2,50,628,1
2,2013-01-07 02:47:27,2,3,66,226,25300,720.6525,679306,0,0,...,0,1,13396,4,0,1,2,50,675,41
3,2013-01-07 03:31:11,2,3,154,196,38140,NaN,673567,0,0,...,0,1,375,1,0,2,4,119,2063,58
4,2013-01-07 03:59:19,11,3,205,155,19334,5286.6712,1086360,0,0,...,0,1,12643,5,0,2,6,77,20,81
5,2013-01-07 07:03:23,34,3,205,354,21728,76.4263,73995,1,0,...,0,2,6843,1,0,1,2,198,383,71
6,2013-01-07 07:03:41,2,3,48,23,14308,NaN,346746,0,1,...,0,1,8253,1,0,1,6,70,19,68
7,2013-01-07 07:18:00,2,3,66,348,47997,1546.1274,768525,0,1,...,0,1,8791,1,0,2,4,8,110,89
8,2013-01-07 07:18:10,2,3,66,442,39348,356.4839,930788,0,0,...,1,1,26604,6,0,3,2,50,550,48
9,2013-01-07 07:47:27,2,3,66,260,19022,224.1359,412635,0,0,...,0,1,27077,6,0,3,2,50,641,18
10,2013-01-07 08:27:34,2,3,66,174,28008,NaN,624235,0,1,...,0,1,8791,1,0,1,4,8,110,89
11,2013-01-07 08:34:49,2,3,66,392,431,882.6556,1079827,1,0,...,0,1,7012,3,0,2,2,50,350,18
12,2013-01-07 09:21:51,30,4,195,548,56440,NaN,240903,0,0,...,0,1,8819,1,0,1,3,168,1242,98
13,2013-01-07 09:22:28,2,3,66,314,23068,2.9576,563864,0,0,...,0,1,25693,6,0,1,2,50,191,91
14,2013-01-07 09:23:22,2,3,66,189,2871,3536.1728,1146365,0,0,...,0,1,18633,6,0,2,6,68,275,46
15,2013-01-07 09:38:51,2,3,66,352,7912,1127.1940,224909,0,1,...,0,2,8278,1,0,1,2,50,368,68
16,2013-01-07 09:39:27,2,3,66,363,12346,83.9393,810946,0,0,...,0,1,12233,6,0,1,2,50,675,98
17,2013-01-07 10:03:47,11,3,205,155,13951,979.8606,601955,0,0,...,0,1,12206,6,0,2,2,50,628,1
18,2013-01-07 10:13:24,2,3,66,184,2037,1702.0506,1123189,0,1,...,0,1,13925,6,1,1,4,8,126,65
19,2013-01-07 10:44:21,2,3,85,235,51941,NaN,923026,0,0,...,0,1,12603,5,0,3,2,50,365,47
20,2013-01-07 10:58:03,2,3,218,17,39100,NaN,60743,0,1,...,1,1,12908,5,0,1,4,45,2076,85
21,2013-01-07 11:02:19,37,1,46,171,4745,1143.8501,314033,0,0,...,0,1,12610,5,0,5,6,17,30,82
22,2013-01-07 11:26:29,2,3,66,337,49755,NaN,1033691,0,0,...,0,1,23682,6,0,1,2,50,659,84
23,2013-01-07 11:32:56,2,3,66,348,23201,NaN,197000,0,0,...,0,3,13415,4,0,2,2,50,675,55
24,2013-01-07 11:35:26,2,3,66,348,48862,206.3984,661016,0,0,...,1,1,8291,1,0,1,2,50,191,18
25,2013-01-07 11:51:52,2,3,66,174,39024,63.3274,809289,0,0,...,1,1,24278,6,0,2,2,50,1546,13
26,2013-01-07 11:54:20,2,3,66,337,43020,2227.2561,1076353,0,0,...,0,1,12206,6,0,1,2,50,628,79
27,2013-01-07 12:00:22,37,1,69,534,46966,NaN,715733,0,0,...,0,2,12206,6,0,2,2,50,628,79
28,2013-01-07 12:07:58,2,3,66,174,25883,5475.2626,886859,0,0,...,0,1,11956,3,0,2,6,21,925,3
29,2013-01-07 12:13:22,11,3,205,385,46963,86.4171,201046,0,0,...,0,1,35621,4,0,1,2,50,519,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2014-12-31 18:43:59,37,1,69,920,21895,NaN,366124,0,1,...,0,1,8234,1,1,1,6,7,8,83
99971,2014-12-31 18:57:10,2,3,66,348,48862,1094.3107,252262,0,1,...,0,1,8260,1,0,1,2,50,701,37
99972,2014-12-31 19:16:50,2,3,66,333,53434,8502.6725,47623,1,0,...,0,1,22749,6,0,1,3,104,60,3
99973,2014-12-31 19:26:18,2,3,66,174,42973,2118.6930,206483,0,1,...,0,1,21066,6,0,1,4,8,126,65
99974,2014-12-31 19:56:23,11,3,205,354,9913,NaN,555363,0,0,...,0,1,12944,5,0,1,2,198,404,42
99975,2014-12-31 19:59:43,24,2,3,59,4001,NaN,699680,0,0,...,0,1,8747,1,0,1,3,106,107,69
99976,2014-12-31 20:02:53,27,2,167,51,11261,NaN,368531,0,1,...,0,1,8241,1,0,1,3,162,1490,36
99977,2014-12-31 20:10:58,2,3,66,174,23793,5524.0927,550767,0,0,...,1,1,8745,1,0,1,6,204,27,47
99978,2014-12-31 20:20:17,2,3,66,462,52482,679.5275,211017,0,0,...,0,1,12826,5,0,1,2,50,1230,72
99979,2014-12-31 20:27:51,15,1,55,23,43889,NaN,1615,0,0,...,0,1,8505,6,0,2,3,106,107,85
99980,2014-12-31 20:47:36,24,2,3,50,5224,NaN,209828,0,0,...,0,1,8242,1,0,1,3,171,61,59
99981,2014-12-31 21:03:35,2,3,162,13,34170,NaN,844993,1,0,...,1,1,8268,1,0,1,2,50,682,34
99982,2014-12-31 21:18:31,2,3,66,288,11997,423.9472,1050407,0,1,...,0,1,8230,1,0,1,2,50,637,91
99983,2014-12-31 21:30:10,2,3,66,174,24647,234.0394,266638,1,0,...,0,1,8250,1,0,1,2,50,628,79
99984,2014-12-31 21:36:46,2,3,66,174,51981,120.2175,1190920,0,0,...,0,1,9145,1,0,1,2,50,364,10
99985,2014-12-31 21:45:12,8,4,70,47,14566,NaN,27943,0,0,...,0,1,21393,4,0,1,3,182,46,51
99986,2014-12-31 21:53:38,2,3,93,71,15362,NaN,14200,0,0,...,0,1,23765,1,0,1,6,22,1439,46
99987,2014-12-31 21:58:41,2,3,66,220,19416,2706.5471,381125,1,0,...,0,1,287,3,0,1,2,50,972,50
99988,2014-12-31 22:22:53,24,2,3,60,27386,NaN,525695,0,0,...,0,1,20836,6,0,1,3,182,83,62
99989,2014-12-31 22:31:27,2,3,66,174,48138,NaN,315916,1,0,...,0,1,28514,6,0,1,2,50,1457,41
99990,2014-12-31 22:31:55,18,2,119,0,27731,NaN,1085466,0,0,...,1,1,21309,6,0,1,3,130,91,5
99991,2014-12-31 22:33:00,40,3,66,260,22666,1584.3780,1087077,0,1,...,0,1,8250,1,0,2,2,50,628,79
99992,2014-12-31 23:10:43,25,2,23,48,4924,NaN,171956,0,0,...,1,2,21882,6,0,3,6,46,1089,82
99993,2014-12-31 23:23:21,18,2,231,88,2972,NaN,521408,0,1,...,0,1,24278,6,0,1,2,50,1546,77
99994,2014-12-31 23:23:24,2,3,66,333,3067,1899.2514,1134778,0,0,...,0,1,8864,1,0,1,4,47,1508,52
99995,2014-12-31 23:29:18,24,2,3,65,56492,NaN,644065,0,0,...,0,1,21836,6,0,1,6,46,799,93
99996,2014-12-31 23:37:24,2,3,66,462,44851,956.0397,916651,0,0,...,0,1,8254,1,0,1,2,50,365,72
99997,2014-12-31 23:41:26,2,3,66,462,52482,871.2462,1051938,0,0,...,1,1,8250,1,0,1,2,50,628,18
99998,2014-12-31 23:48:48,2,3,66,348,48862,1550.5297,994140,0,1,...,0,1,8791,1,0,1,4,8,110,65
99999,2014-12-31 23:54:33,37,1,69,675,48943,NaN,625763,0,1,...,0,1,18965,1,0,1,6,77,1410,60

In [8]:
data = data.drop_duplicates(['date_time'], keep='last')

In [28]:
data.to_csv('randomTrain.csv')