## Premiers tests de xgBoost avec Python.
On n'utilise pas ici Pypy, et on prend uniquement les 10 000 premières valeurs d'entraînement.

**Références :** [Exemple de code](https://www.kaggle.com/datacanary/titanic/xgboost-example-python/code) utilisant Pandas pour lire les données et xgBoost pour faire les prédictions. 

**Remarque :** On peut utiliser pickle pour sauvegarder les données en binaire et les chargé plus rapidement.

```python
pickle.dump(train,open('train.bin','wb')protocol=4)
pickle.load(open('train.bin','rb'))
```

In [2]:
# Importation des bibliothèques

import xgboost as xgb
import pandas as pd
import numpy as np

In [9]:
# Lecture du csv avec Pandas

train = pd.read_csv('../out_train.csv')
test = pd.read_csv('../out_test.csv')
train.head()

,Unnamed: 0,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,...,0,1,8250,1,0,3,2,50,628,1
1,1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,...,0,1,8250,1,1,1,2,50,628,1
2,2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,...,0,1,8250,1,0,1,2,50,628,1
3,3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,...,0,1,14984,1,0,1,2,50,1457,80
4,4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,...,0,1,14984,1,0,1,2,50,1457,21

In [80]:
# On prépare les données pour l'algorithme

X_train = train.drop(['hotel_cluster','date_time','srch_ci','srch_co',],1).as_matrix()
Y_train = train['hotel_cluster'].as_matrix()

X_test = test.drop(['date_time','srch_ci','srch_co'],1).as_matrix()
result = pd.DataFrame(test['id'])

In [41]:
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05)

gbm.fit(X_train,Y_train)

Y_test = gbm.predict(X_test)

In [79]:
result["hotel_cluster"]=pd.DataFrame(Y_test)
result

,id,hotel_cluster
0,0,8.0
1,1,53.0
2,2,53.0
3,3,53.0
4,4,53.0
5,5,53.0
6,6,53.0
7,7,12.0
8,8,53.0
9,9,53.0
10,10,53.0
11,11,53.0
12,12,53.0
13,13,53.0
14,14,53.0
15,15,53.0
16,16,53.0
17,17,53.0
18,18,53.0
19,19,53.0
20,20,53.0
21,21,53.0
22,22,53.0
23,23,53.0
24,24,53.0
25,25,53.0
26,26,8.0
27,27,53.0
28,28,53.0
29,29,82.0
...,...,...
9971,9971,53.0
9972,9972,53.0
9973,9973,53.0
9974,9974,53.0
9975,9975,53.0
9976,9976,30.0
9977,9977,53.0
9978,9978,53.0
9979,9979,53.0
9980,9980,53.0
9981,9981,30.0
9982,9982,97.0
9983,9983,53.0
9984,9984,53.0
9985,9985,67.0
9986,9986,53.0
9987,9987,53.0
9988,9988,53.0
9989,9989,67.0
9990,9990,67.0
9991,9991,53.0
9992,9992,53.0
9993,9993,64.0
9994,9994,53.0
9995,9995,57.0
9996,9996,53.0
9997,9997,53.0
9998,9998,30.0
9999,9999,67.0
hotel_cluster,"[8, 53, 53, 53, 53, 53, 53, 12, 53, 53, 53, 53...",NaN

In [112]:
%matplotlib inline

counts = train['hotel_cluster'].value_counts()
counts

91    257
41    237
65    227
48    204
25    188
33    181
95    163
18    160
21    156
70    154
16    144
40    142
83    142
12    138
8     137
36    135
28    134
97    133
57    133
52    132
30    129
50    128
96    128
64    127
76    126
42    125
99    125
5     120
72    118
6     118
     ...
69     75
55     75
31     74
17     74
89     74
38     72
43     69
35     68
11     68
87     67
19     66
94     63
45     63
79     62
86     60
92     58
66     58
67     57
44     55
53     53
71     51
3      51
80     49
24     44
49     41
93     37
75     32
88     29
27     16
74      9
Name: hotel_cluster, dtype: int64